#color{
    background-color:  #E5E5E5;
    
}
nav{
    position: relative;
    border-bottom: 1px solid #CFC4C4;
    color: black;
    background-color: #e2e2e2;
    
 }
 #link{
     position: absolute;
     right: 0;
     display: inline;
     
 }
 #back{
  margin-left: 2.5% ;
  margin-top: 3%;
 
  width: fit-content;
 }
 
 #img-col1>img{
    border-radius:16px ;
     }
     #img-col1{
        border-left: 10px solid rgb(255, 255, 255);
     }