@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Asap", sans-serif;
}

section {
  min-height: 50vh;
  display: flex;
  margin: auto;
}
#sect1 {
  color: #d6ecf5;
  background: rgb(2, 84, 112);
  text-align: center;
}
section .container {
  margin: auto;
}
section h1 {
  font-size: 3rem;
  color:rgb(2, 84, 112);  
}
section h2 {
  font-size: 35px;
  text-align: center;
  text-transform: uppercase;
}
section .text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
#top{
  margin-top: 6%;

}
section .text-container .text-box {
  margin-right:30px;
  padding: px;
  width: 50%;
  height: 30vh;
 background:  rgb(2, 84, 112);
  letter-spacing: px;
  padding-top: 30px;
}
section .text-container #arch {
  background: rgb(20, 71, 103);
  padding: 50px;
}
section .text-container #arch p {
  color: rgb(255, 249, 249);
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

section .text-container .text-box h3 {
  font-size: 23px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
  color:rgb(242, 146, 108);
}
section .text-container .text-box p {
 color:rgb(255, 255, 255);
 text-align: center;
 font-size: 15px;
}
.roadm{
  background-color: rgb(184, 244, 244);
}
.head{
  background: #d6ecf5;
}

@media (max-width: 900px) {
  section h1 {
    font-size: 2rem;
    text-align: center;
  }
  section .text-container {
    flex-direction: column;
  }
  section .container {
    margin: 0px;
  }
  #bimg h1 {
    display: none;
  }
  #bimg{
    width: 100%;
  }
}

.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}
.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}
.active.fade-left {
  animation: fade-left 1s ease-in;
}
.active.fade-right {
  animation: fade-right 1s ease-in;
}
@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}